Tomcat/logs
Tomcat/work
chromeExt.code-workspace
/uSuperDrag-master
/rss/tools
rss/IlPostGit.cmd
/rss/AdAltaVoceGit.cmd
*.bak
tb/dist/*
**/node_modules/*
rss/AdAltaVoce.CommitStatus.txt
**/coverage/*
macchia/dist/*
macchia/src/test/WorkingDesk-performance.log
