Tomcat/logs
Tomcat/work
chromeExt.code-workspace
/uSuperDrag-master
/bd/node_modules/.bin
/rss/tools
/rss/AdAltaVoceGit.cmd
*.bak
wr/node_modules/.package-lock.json
wr/node_modules/.bin/tsc
wr/node_modules/.bin/tsc.cmd
wr/node_modules/.bin/tsc.ps1
wr/node_modules/.bin/tsserver
wr/node_modules/.bin/tsserver.cmd
wr/node_modules/.bin/tsserver.ps1
wr/node_modules/@types/chrome/index.d.ts
wr/node_modules/@types/chrome/LICENSE
wr/node_modules/@types/chrome/package.json
wr/node_modules/@types/chrome/README.md
wr/node_modules/@types/chrome/chrome-cast/index.d.ts
wr/node_modules/@types/chrome/har-format/index.d.ts
wr/node_modules/@types/filesystem/index.d.ts
wr/node_modules/@types/filesystem/LICENSE
wr/node_modules/@types/filesystem/package.json
wr/node_modules/@types/filesystem/README.md
wr/node_modules/@types/filewriter/index.d.ts
wr/node_modules/@types/filewriter/LICENSE
wr/node_modules/@types/filewriter/package.json
wr/node_modules/@types/filewriter/README.md
wr/node_modules/@types/har-format/index.d.ts
wr/node_modules/@types/har-format/LICENSE
wr/node_modules/@types/har-format/package.json
wr/node_modules/@types/har-format/README.md
wr/node_modules/typescript/LICENSE.txt
wr/node_modules/typescript/package.json
wr/node_modules/typescript/README.md
wr/node_modules/typescript/SECURITY.md
wr/node_modules/typescript/ThirdPartyNoticeText.txt
wr/node_modules/typescript/bin/tsc
wr/node_modules/typescript/bin/tsserver
wr/node_modules/typescript/lib/cancellationToken.js
wr/node_modules/typescript/lib/lib.d.ts
wr/node_modules/typescript/lib/lib.decorators.d.ts
wr/node_modules/typescript/lib/lib.decorators.legacy.d.ts
wr/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
wr/node_modules/typescript/lib/lib.dom.d.ts
wr/node_modules/typescript/lib/lib.dom.iterable.d.ts
wr/node_modules/typescript/lib/lib.es5.d.ts
wr/node_modules/typescript/lib/lib.es6.d.ts
wr/node_modules/typescript/lib/lib.es2015.collection.d.ts
wr/node_modules/typescript/lib/lib.es2015.core.d.ts
wr/node_modules/typescript/lib/lib.es2015.d.ts
wr/node_modules/typescript/lib/lib.es2015.generator.d.ts
wr/node_modules/typescript/lib/lib.es2015.iterable.d.ts
wr/node_modules/typescript/lib/lib.es2015.promise.d.ts
wr/node_modules/typescript/lib/lib.es2015.proxy.d.ts
wr/node_modules/typescript/lib/lib.es2015.reflect.d.ts
wr/node_modules/typescript/lib/lib.es2015.symbol.d.ts
wr/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
wr/node_modules/typescript/lib/lib.es2016.array.include.d.ts
wr/node_modules/typescript/lib/lib.es2016.d.ts
wr/node_modules/typescript/lib/lib.es2016.full.d.ts
wr/node_modules/typescript/lib/lib.es2016.intl.d.ts
wr/node_modules/typescript/lib/lib.es2017.d.ts
wr/node_modules/typescript/lib/lib.es2017.date.d.ts
wr/node_modules/typescript/lib/lib.es2017.full.d.ts
wr/node_modules/typescript/lib/lib.es2017.intl.d.ts
wr/node_modules/typescript/lib/lib.es2017.object.d.ts
wr/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
wr/node_modules/typescript/lib/lib.es2017.string.d.ts
wr/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
wr/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
wr/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
wr/node_modules/typescript/lib/lib.es2018.d.ts
wr/node_modules/typescript/lib/lib.es2018.full.d.ts
wr/node_modules/typescript/lib/lib.es2018.intl.d.ts
wr/node_modules/typescript/lib/lib.es2018.promise.d.ts
wr/node_modules/typescript/lib/lib.es2018.regexp.d.ts
wr/node_modules/typescript/lib/lib.es2019.array.d.ts
wr/node_modules/typescript/lib/lib.es2019.d.ts
wr/node_modules/typescript/lib/lib.es2019.full.d.ts
wr/node_modules/typescript/lib/lib.es2019.intl.d.ts
wr/node_modules/typescript/lib/lib.es2019.object.d.ts
wr/node_modules/typescript/lib/lib.es2019.string.d.ts
wr/node_modules/typescript/lib/lib.es2019.symbol.d.ts
wr/node_modules/typescript/lib/lib.es2020.bigint.d.ts
wr/node_modules/typescript/lib/lib.es2020.d.ts
wr/node_modules/typescript/lib/lib.es2020.date.d.ts
wr/node_modules/typescript/lib/lib.es2020.full.d.ts
wr/node_modules/typescript/lib/lib.es2020.intl.d.ts
wr/node_modules/typescript/lib/lib.es2020.number.d.ts
wr/node_modules/typescript/lib/lib.es2020.promise.d.ts
wr/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
wr/node_modules/typescript/lib/lib.es2020.string.d.ts
wr/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
wr/node_modules/typescript/lib/lib.es2021.d.ts
wr/node_modules/typescript/lib/lib.es2021.full.d.ts
wr/node_modules/typescript/lib/lib.es2021.intl.d.ts
wr/node_modules/typescript/lib/lib.es2021.promise.d.ts
wr/node_modules/typescript/lib/lib.es2021.string.d.ts
wr/node_modules/typescript/lib/lib.es2021.weakref.d.ts
wr/node_modules/typescript/lib/lib.es2022.array.d.ts
wr/node_modules/typescript/lib/lib.es2022.d.ts
wr/node_modules/typescript/lib/lib.es2022.error.d.ts
wr/node_modules/typescript/lib/lib.es2022.full.d.ts
wr/node_modules/typescript/lib/lib.es2022.intl.d.ts
wr/node_modules/typescript/lib/lib.es2022.object.d.ts
wr/node_modules/typescript/lib/lib.es2022.regexp.d.ts
wr/node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
wr/node_modules/typescript/lib/lib.es2022.string.d.ts
wr/node_modules/typescript/lib/lib.es2023.array.d.ts
wr/node_modules/typescript/lib/lib.es2023.collection.d.ts
wr/node_modules/typescript/lib/lib.es2023.d.ts
wr/node_modules/typescript/lib/lib.es2023.full.d.ts
wr/node_modules/typescript/lib/lib.es2023.intl.d.ts
wr/node_modules/typescript/lib/lib.esnext.array.d.ts
wr/node_modules/typescript/lib/lib.esnext.collection.d.ts
wr/node_modules/typescript/lib/lib.esnext.d.ts
wr/node_modules/typescript/lib/lib.esnext.decorators.d.ts
wr/node_modules/typescript/lib/lib.esnext.disposable.d.ts
wr/node_modules/typescript/lib/lib.esnext.full.d.ts
wr/node_modules/typescript/lib/lib.esnext.intl.d.ts
wr/node_modules/typescript/lib/lib.esnext.iterator.d.ts
wr/node_modules/typescript/lib/lib.esnext.object.d.ts
wr/node_modules/typescript/lib/lib.esnext.promise.d.ts
wr/node_modules/typescript/lib/lib.esnext.regexp.d.ts
wr/node_modules/typescript/lib/lib.esnext.string.d.ts
wr/node_modules/typescript/lib/lib.scripthost.d.ts
wr/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
wr/node_modules/typescript/lib/lib.webworker.d.ts
wr/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
wr/node_modules/typescript/lib/lib.webworker.iterable.d.ts
wr/node_modules/typescript/lib/tsc.js
wr/node_modules/typescript/lib/tsserver.js
wr/node_modules/typescript/lib/tsserverlibrary.d.ts
wr/node_modules/typescript/lib/tsserverlibrary.js
wr/node_modules/typescript/lib/typescript.d.ts
wr/node_modules/typescript/lib/typescript.js
wr/node_modules/typescript/lib/typesMap.json
wr/node_modules/typescript/lib/typingsInstaller.js
wr/node_modules/typescript/lib/watchGuard.js
wr/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/de/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/es/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/it/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
wr/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
rss/IlPostGit.cmd
rl/node_modules/.package-lock.json
rl/node_modules/.bin/tsc
rl/node_modules/.bin/tsc.cmd
rl/node_modules/.bin/tsc.ps1
rl/node_modules/.bin/tsserver
rl/node_modules/.bin/tsserver.cmd
rl/node_modules/.bin/tsserver.ps1
rl/node_modules/@types/chrome/index.d.ts
rl/node_modules/@types/chrome/LICENSE
rl/node_modules/@types/chrome/package.json
rl/node_modules/@types/chrome/README.md
rl/node_modules/@types/chrome/chrome-cast/index.d.ts
rl/node_modules/@types/chrome/har-format/index.d.ts
rl/node_modules/@types/filesystem/index.d.ts
rl/node_modules/@types/filesystem/LICENSE
rl/node_modules/@types/filesystem/package.json
rl/node_modules/@types/filesystem/README.md
rl/node_modules/@types/filewriter/index.d.ts
rl/node_modules/@types/filewriter/LICENSE
rl/node_modules/@types/filewriter/package.json
rl/node_modules/@types/filewriter/README.md
rl/node_modules/@types/har-format/index.d.ts
rl/node_modules/@types/har-format/LICENSE
rl/node_modules/@types/har-format/package.json
rl/node_modules/@types/har-format/README.md
rl/node_modules/typescript/LICENSE.txt
rl/node_modules/typescript/package.json
rl/node_modules/typescript/README.md
rl/node_modules/typescript/SECURITY.md
rl/node_modules/typescript/ThirdPartyNoticeText.txt
rl/node_modules/typescript/bin/tsc
rl/node_modules/typescript/bin/tsserver
rl/node_modules/typescript/lib/cancellationToken.js
rl/node_modules/typescript/lib/lib.d.ts
rl/node_modules/typescript/lib/lib.decorators.d.ts
rl/node_modules/typescript/lib/lib.decorators.legacy.d.ts
rl/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
rl/node_modules/typescript/lib/lib.dom.d.ts
rl/node_modules/typescript/lib/lib.dom.iterable.d.ts
rl/node_modules/typescript/lib/lib.es5.d.ts
rl/node_modules/typescript/lib/lib.es6.d.ts
rl/node_modules/typescript/lib/lib.es2015.collection.d.ts
rl/node_modules/typescript/lib/lib.es2015.core.d.ts
rl/node_modules/typescript/lib/lib.es2015.d.ts
rl/node_modules/typescript/lib/lib.es2015.generator.d.ts
rl/node_modules/typescript/lib/lib.es2015.iterable.d.ts
rl/node_modules/typescript/lib/lib.es2015.promise.d.ts
rl/node_modules/typescript/lib/lib.es2015.proxy.d.ts
rl/node_modules/typescript/lib/lib.es2015.reflect.d.ts
rl/node_modules/typescript/lib/lib.es2015.symbol.d.ts
rl/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
rl/node_modules/typescript/lib/lib.es2016.array.include.d.ts
rl/node_modules/typescript/lib/lib.es2016.d.ts
rl/node_modules/typescript/lib/lib.es2016.full.d.ts
rl/node_modules/typescript/lib/lib.es2016.intl.d.ts
rl/node_modules/typescript/lib/lib.es2017.d.ts
rl/node_modules/typescript/lib/lib.es2017.date.d.ts
rl/node_modules/typescript/lib/lib.es2017.full.d.ts
rl/node_modules/typescript/lib/lib.es2017.intl.d.ts
rl/node_modules/typescript/lib/lib.es2017.object.d.ts
rl/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
rl/node_modules/typescript/lib/lib.es2017.string.d.ts
rl/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
rl/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
rl/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
rl/node_modules/typescript/lib/lib.es2018.d.ts
rl/node_modules/typescript/lib/lib.es2018.full.d.ts
rl/node_modules/typescript/lib/lib.es2018.intl.d.ts
rl/node_modules/typescript/lib/lib.es2018.promise.d.ts
rl/node_modules/typescript/lib/lib.es2018.regexp.d.ts
rl/node_modules/typescript/lib/lib.es2019.array.d.ts
rl/node_modules/typescript/lib/lib.es2019.d.ts
rl/node_modules/typescript/lib/lib.es2019.full.d.ts
rl/node_modules/typescript/lib/lib.es2019.intl.d.ts
rl/node_modules/typescript/lib/lib.es2019.object.d.ts
rl/node_modules/typescript/lib/lib.es2019.string.d.ts
rl/node_modules/typescript/lib/lib.es2019.symbol.d.ts
rl/node_modules/typescript/lib/lib.es2020.bigint.d.ts
rl/node_modules/typescript/lib/lib.es2020.d.ts
rl/node_modules/typescript/lib/lib.es2020.date.d.ts
rl/node_modules/typescript/lib/lib.es2020.full.d.ts
rl/node_modules/typescript/lib/lib.es2020.intl.d.ts
rl/node_modules/typescript/lib/lib.es2020.number.d.ts
rl/node_modules/typescript/lib/lib.es2020.promise.d.ts
rl/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
rl/node_modules/typescript/lib/lib.es2020.string.d.ts
rl/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
rl/node_modules/typescript/lib/lib.es2021.d.ts
rl/node_modules/typescript/lib/lib.es2021.full.d.ts
rl/node_modules/typescript/lib/lib.es2021.intl.d.ts
rl/node_modules/typescript/lib/lib.es2021.promise.d.ts
rl/node_modules/typescript/lib/lib.es2021.string.d.ts
rl/node_modules/typescript/lib/lib.es2021.weakref.d.ts
rl/node_modules/typescript/lib/lib.es2022.array.d.ts
rl/node_modules/typescript/lib/lib.es2022.d.ts
rl/node_modules/typescript/lib/lib.es2022.error.d.ts
rl/node_modules/typescript/lib/lib.es2022.full.d.ts
rl/node_modules/typescript/lib/lib.es2022.intl.d.ts
rl/node_modules/typescript/lib/lib.es2022.object.d.ts
rl/node_modules/typescript/lib/lib.es2022.regexp.d.ts
rl/node_modules/typescript/lib/lib.es2022.sharedmemory.d.ts
rl/node_modules/typescript/lib/lib.es2022.string.d.ts
rl/node_modules/typescript/lib/lib.es2023.array.d.ts
rl/node_modules/typescript/lib/lib.es2023.collection.d.ts
rl/node_modules/typescript/lib/lib.es2023.d.ts
rl/node_modules/typescript/lib/lib.es2023.full.d.ts
rl/node_modules/typescript/lib/lib.es2023.intl.d.ts
rl/node_modules/typescript/lib/lib.esnext.array.d.ts
rl/node_modules/typescript/lib/lib.esnext.collection.d.ts
rl/node_modules/typescript/lib/lib.esnext.d.ts
rl/node_modules/typescript/lib/lib.esnext.decorators.d.ts
rl/node_modules/typescript/lib/lib.esnext.disposable.d.ts
rl/node_modules/typescript/lib/lib.esnext.full.d.ts
rl/node_modules/typescript/lib/lib.esnext.intl.d.ts
rl/node_modules/typescript/lib/lib.esnext.iterator.d.ts
rl/node_modules/typescript/lib/lib.esnext.object.d.ts
rl/node_modules/typescript/lib/lib.esnext.promise.d.ts
rl/node_modules/typescript/lib/lib.esnext.regexp.d.ts
rl/node_modules/typescript/lib/lib.esnext.string.d.ts
rl/node_modules/typescript/lib/lib.scripthost.d.ts
rl/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
rl/node_modules/typescript/lib/lib.webworker.d.ts
rl/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
rl/node_modules/typescript/lib/lib.webworker.iterable.d.ts
rl/node_modules/typescript/lib/tsc.js
rl/node_modules/typescript/lib/tsserver.js
rl/node_modules/typescript/lib/tsserverlibrary.d.ts
rl/node_modules/typescript/lib/tsserverlibrary.js
rl/node_modules/typescript/lib/typescript.d.ts
rl/node_modules/typescript/lib/typescript.js
rl/node_modules/typescript/lib/typesMap.json
rl/node_modules/typescript/lib/typingsInstaller.js
rl/node_modules/typescript/lib/watchGuard.js
rl/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/de/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/es/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/it/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
rl/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
